.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:100%;
  position: relative;
  margin: auto;
  padding: auto;
  border: none;
  
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("http://enjoycss.com/bg-img/custom/42680-1u3jexm.jpg");
  background-repeat: no-repeat;
  -webkit-background-origin: padding-box;
  background-origin: 0;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
}

.App {
    text-align: center;
   position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  
}

.App-logo {
    height: 200px;
}

.App-logo-smaller {
    height: 100px;
}

.App-header {
    background-color: white;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
     font-size: large;
     
}


.blurb {
    font-size:xx-large;
    color: white;
    word-spacing: 10px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}